[defaults]
roles_path = roles
inventory = inventory/production
remote_user = ubuntu
private_key_file = ~/.ssh/id_ed25519
host_key_checking = false
retry_files_enabled = false

[ssh_connection]
pipelining = true